In [1]:
import torch
import torch.nn as nn
import torch.nn.functional as F
import torch.optim as optim
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

Now time to preprocess our collected data

In [2]:
df = pd.read_csv('WA_Fn-UseC_-Telco-Customer-Churn.xls')
df.drop(columns='customerID', inplace=True)
print(df)

      gender  SeniorCitizen Partner Dependents  tenure PhoneService  \
0     Female              0     Yes         No       1           No
1       Male              0      No         No      34          Yes
2       Male              0      No         No       2          Yes
3       Male              0      No         No      45           No
4     Female              0      No         No       2          Yes
...      ...            ...     ...        ...     ...          ...
7038    Male              0     Yes        Yes      24          Yes
7039  Female              0     Yes        Yes      72          Yes
7040  Female              0     Yes        Yes      11           No
7041    Male              1     Yes         No       4          Yes
7042    Male              0      No         No      66          Yes

         MultipleLines InternetService OnlineSecurity OnlineBackup  \
0     No phone service             DSL             No          Yes
1                   No             DSL            Yes           No
2                   No             DSL            Yes          Yes
3     No phone service             DSL            Yes           No
4                   No     Fiber optic             No           No
...                ...             ...            ...          ...
7038               Yes             DSL            Yes           No
7039               Yes     Fiber optic             No          Yes
7040  No phone service             DSL            Yes           No
7041               Yes     Fiber optic             No           No
7042                No     Fiber optic            Yes           No

     DeviceProtection TechSupport StreamingTV StreamingMovies        Contract  \
0                  No          No          No              No  Month-to-month
1                 Yes          No          No              No        One year
2                  No          No          No              No  Month-to-month
3                 Yes         Yes          No              No        One year
4                  No          No          No              No  Month-to-month
...               ...         ...         ...             ...             ...
7038              Yes         Yes         Yes             Yes        One year
7039              Yes          No         Yes             Yes        One year
7040               No          No          No              No  Month-to-month
7041               No          No          No              No  Month-to-month
7042              Yes         Yes         Yes             Yes        Two year

     PaperlessBilling              PaymentMethod  MonthlyCharges TotalCharges  \
0                 Yes           Electronic check           29.85        29.85
1                  No               Mailed check           56.95       1889.5
2                 Yes               Mailed check           53.85       108.15
3                  No  Bank transfer (automatic)           42.30      1840.75
4                 Yes           Electronic check           70.70       151.65
...               ...                        ...             ...          ...
7038              Yes               Mailed check           84.80       1990.5
7039              Yes    Credit card (automatic)          103.20       7362.9
7040              Yes           Electronic check           29.60       346.45
7041              Yes               Mailed check           74.40        306.6
7042              Yes  Bank transfer (automatic)          105.65       6844.5

     Churn
0       No
1       No
2      Yes
3       No
4      Yes
...    ...
7038    No
7039    No
7040    No
7041   Yes
7042    No

[7043 rows x 20 columns]

Let us convert M/F to one hot encoding

In [3]:
df.info

<bound method DataFrame.info of       gender  SeniorCitizen Partner Dependents  tenure PhoneService  \
0     Female              0     Yes         No       1           No
1       Male              0      No         No      34          Yes
2       Male              0      No         No       2          Yes
3       Male              0      No         No      45           No
4     Female              0      No         No       2          Yes
...      ...            ...     ...        ...     ...          ...
7038    Male              0     Yes        Yes      24          Yes
7039  Female              0     Yes        Yes      72          Yes
7040  Female              0     Yes        Yes      11           No
7041    Male              1     Yes         No       4          Yes
7042    Male              0      No         No      66          Yes

         MultipleLines InternetService OnlineSecurity OnlineBackup  \
0     No phone service             DSL             No          Yes
1                   No             DSL            Yes           No
2                   No             DSL            Yes          Yes
3     No phone service             DSL            Yes           No
4                   No     Fiber optic             No           No
...                ...             ...            ...          ...
7038               Yes             DSL            Yes           No
7039               Yes     Fiber optic             No          Yes
7040  No phone service             DSL            Yes           No
7041               Yes     Fiber optic             No           No
7042                No     Fiber optic            Yes           No

     DeviceProtection TechSupport StreamingTV StreamingMovies        Contract  \
0                  No          No          No              No  Month-to-month
1                 Yes          No          No              No        One year
2                  No          No          No              No  Month-to-month
3                 Yes         Yes          No              No        One year
4                  No          No          No              No  Month-to-month
...               ...         ...         ...             ...             ...
7038              Yes         Yes         Yes             Yes        One year
7039              Yes          No         Yes             Yes        One year
7040               No          No          No              No  Month-to-month
7041               No          No          No              No  Month-to-month
7042              Yes         Yes         Yes             Yes        Two year

     PaperlessBilling              PaymentMethod  MonthlyCharges TotalCharges  \
0                 Yes           Electronic check           29.85        29.85
1                  No               Mailed check           56.95       1889.5
2                 Yes               Mailed check           53.85       108.15
3                  No  Bank transfer (automatic)           42.30      1840.75
4                 Yes           Electronic check           70.70       151.65
...               ...                        ...             ...          ...
7038              Yes               Mailed check           84.80       1990.5
7039              Yes    Credit card (automatic)          103.20       7362.9
7040              Yes           Electronic check           29.60       346.45
7041              Yes               Mailed check           74.40        306.6
7042              Yes  Bank transfer (automatic)          105.65       6844.5

     Churn
0       No
1       No
2      Yes
3       No
4      Yes
...    ...
7038    No
7039    No
7040    No
7041   Yes
7042    No

[7043 rows x 20 columns]>

In [4]:
df.head

<bound method NDFrame.head of       gender  SeniorCitizen Partner Dependents  tenure PhoneService  \
0     Female              0     Yes         No       1           No
1       Male              0      No         No      34          Yes
2       Male              0      No         No       2          Yes
3       Male              0      No         No      45           No
4     Female              0      No         No       2          Yes
...      ...            ...     ...        ...     ...          ...
7038    Male              0     Yes        Yes      24          Yes
7039  Female              0     Yes        Yes      72          Yes
7040  Female              0     Yes        Yes      11           No
7041    Male              1     Yes         No       4          Yes
7042    Male              0      No         No      66          Yes

         MultipleLines InternetService OnlineSecurity OnlineBackup  \
0     No phone service             DSL             No          Yes
1                   No             DSL            Yes           No
2                   No             DSL            Yes          Yes
3     No phone service             DSL            Yes           No
4                   No     Fiber optic             No           No
...                ...             ...            ...          ...
7038               Yes             DSL            Yes           No
7039               Yes     Fiber optic             No          Yes
7040  No phone service             DSL            Yes           No
7041               Yes     Fiber optic             No           No
7042                No     Fiber optic            Yes           No

     DeviceProtection TechSupport StreamingTV StreamingMovies        Contract  \
0                  No          No          No              No  Month-to-month
1                 Yes          No          No              No        One year
2                  No          No          No              No  Month-to-month
3                 Yes         Yes          No              No        One year
4                  No          No          No              No  Month-to-month
...               ...         ...         ...             ...             ...
7038              Yes         Yes         Yes             Yes        One year
7039              Yes          No         Yes             Yes        One year
7040               No          No          No              No  Month-to-month
7041               No          No          No              No  Month-to-month
7042              Yes         Yes         Yes             Yes        Two year

     PaperlessBilling              PaymentMethod  MonthlyCharges TotalCharges  \
0                 Yes           Electronic check           29.85        29.85
1                  No               Mailed check           56.95       1889.5
2                 Yes               Mailed check           53.85       108.15
3                  No  Bank transfer (automatic)           42.30      1840.75
4                 Yes           Electronic check           70.70       151.65
...               ...                        ...             ...          ...
7038              Yes               Mailed check           84.80       1990.5
7039              Yes    Credit card (automatic)          103.20       7362.9
7040              Yes           Electronic check           29.60       346.45
7041              Yes               Mailed check           74.40        306.6
7042              Yes  Bank transfer (automatic)          105.65       6844.5

     Churn
0       No
1       No
2      Yes
3       No
4      Yes
...    ...
7038    No
7039    No
7040    No
7041   Yes
7042    No

[7043 rows x 20 columns]>

In [5]:
df.dtypes

gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [6]:
df.TotalCharges.values

array(['29.85', '1889.5', '108.15', ..., '346.45', '306.6', '6844.5'],
      dtype=object)

In [7]:
pd.to_numeric(df.TotalCharges, errors='coerce')
df

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,No,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,Male,0,No,No,66,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [8]:
df[pd.to_numeric(df.TotalCharges, errors='coerce').isnull()]

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
488,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,No,Yes,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.55,,No
753,Male,0,No,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.25,,No
936,Female,0,Yes,Yes,0,Yes,No,DSL,Yes,Yes,Yes,No,Yes,Yes,Two year,No,Mailed check,80.85,,No
1082,Male,0,Yes,Yes,0,Yes,Yes,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.75,,No
1340,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,Yes,Yes,Yes,Yes,No,Two year,No,Credit card (automatic),56.05,,No
3331,Male,0,Yes,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,19.85,,No
3826,Male,0,Yes,Yes,0,Yes,Yes,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.35,,No
4380,Female,0,Yes,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.00,,No
5218,Male,0,Yes,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,One year,Yes,Mailed check,19.70,,No
6670,Female,0,Yes,Yes,0,Yes,Yes,DSL,No,Yes,Yes,Yes,Yes,No,Two year,No,Mailed check,73.35,,No
6754,Male,0,No,Yes,0,Yes,Yes,DSL,Yes,Yes,No,Yes,No,No,Two year,Yes,Bank transfer (automatic),61.90,,No

In [9]:
df = df[df.TotalCharges != ' ']

In [10]:
df.TotalCharges = pd.to_numeric(df.TotalCharges, errors='coerce')

In [11]:
for col in df:
    if (df[col].dtypes == 'object'):
        print(f'{col} : {df[col].unique()}')

gender : ['Female' 'Male']
Partner : ['Yes' 'No']
Dependents : ['No' 'Yes']
PhoneService : ['No' 'Yes']
MultipleLines : ['No phone service' 'No' 'Yes']
InternetService : ['DSL' 'Fiber optic' 'No']
OnlineSecurity : ['No' 'Yes' 'No internet service']
OnlineBackup : ['Yes' 'No' 'No internet service']
DeviceProtection : ['No' 'Yes' 'No internet service']
TechSupport : ['No' 'Yes' 'No internet service']
StreamingTV : ['No' 'Yes' 'No internet service']
StreamingMovies : ['No' 'Yes' 'No internet service']
Contract : ['Month-to-month' 'One year' 'Two year']
PaperlessBilling : ['Yes' 'No']
PaymentMethod : ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
Churn : ['No' 'Yes']

In [12]:
df.replace('No internet service', 'No', inplace=True)

In [13]:
df.replace('No phone service', 'No', inplace=True)

In [14]:
for col in df:
    if (df[col].dtypes == 'object'):
        print(f'{col} : {df[col].unique()}')

gender : ['Female' 'Male']
Partner : ['Yes' 'No']
Dependents : ['No' 'Yes']
PhoneService : ['No' 'Yes']
MultipleLines : ['No' 'Yes']
InternetService : ['DSL' 'Fiber optic' 'No']
OnlineSecurity : ['No' 'Yes']
OnlineBackup : ['Yes' 'No']
DeviceProtection : ['No' 'Yes']
TechSupport : ['No' 'Yes']
StreamingTV : ['No' 'Yes']
StreamingMovies : ['No' 'Yes']
Contract : ['Month-to-month' 'One year' 'Two year']
PaperlessBilling : ['Yes' 'No']
PaymentMethod : ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
Churn : ['No' 'Yes']

In [15]:
df.replace({'Yes': 1, 'No': 0}, inplace=True)

In [16]:
for col in df:
    # if (df[col].dtypes == 'object'):
    print(f'{col} : {df[col].unique()}')

gender : ['Female' 'Male']
SeniorCitizen : [0 1]
Partner : [1 0]
Dependents : [0 1]
tenure : [ 1 34  2 45  8 22 10 28 62 13 16 58 49 25 69 52 71 21 12 30 47 72 17 27
  5 46 11 70 63 43 15 60 18 66  9  3 31 50 64 56  7 42 35 48 29 65 38 68
 32 55 37 36 41  6  4 33 67 23 57 61 14 20 53 40 59 24 44 19 54 51 26 39]
PhoneService : [0 1]
MultipleLines : [0 1]
InternetService : ['DSL' 'Fiber optic' 0]
OnlineSecurity : [0 1]
OnlineBackup : [1 0]
DeviceProtection : [0 1]
TechSupport : [0 1]
StreamingTV : [0 1]
StreamingMovies : [0 1]
Contract : ['Month-to-month' 'One year' 'Two year']
PaperlessBilling : [1 0]
PaymentMethod : ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
MonthlyCharges : [29.85 56.95 53.85 ... 63.1  44.2  78.7 ]
TotalCharges : [  29.85 1889.5   108.15 ...  346.45  306.6  6844.5 ]
Churn : [0 1]

In [17]:
df = pd.get_dummies(
    data=df, columns=['InternetService', 'Contract', 'PaymentMethod'])

In [18]:
df.replace({'Male': 1, 'Female': 0}, inplace=True)
df.dtypes

gender                                       int64
SeniorCitizen                                int64
Partner                                      int64
Dependents                                   int64
tenure                                       int64
PhoneService                                 int64
MultipleLines                                int64
OnlineSecurity                               int64
OnlineBackup                                 int64
DeviceProtection                             int64
TechSupport                                  int64
StreamingTV                                  int64
StreamingMovies                              int64
PaperlessBilling                             int64
MonthlyCharges                             float64
TotalCharges                               float64
Churn                                        int64
InternetService_0                            uint8
InternetService_DSL                          uint8
InternetService_Fiber optic                  uint8
Contract_Month-to-month                      uint8
Contract_One year                            uint8
Contract_Two year                            uint8
PaymentMethod_Bank transfer (automatic)      uint8
PaymentMethod_Credit card (automatic)        uint8
PaymentMethod_Electronic check               uint8
PaymentMethod_Mailed check                   uint8
dtype: object

In [19]:
df.head

<bound method NDFrame.head of       gender  SeniorCitizen  Partner  Dependents  tenure  PhoneService  \
0          0              0        1           0       1             0
1          1              0        0           0      34             1
2          1              0        0           0       2             1
3          1              0        0           0      45             0
4          0              0        0           0       2             1
...      ...            ...      ...         ...     ...           ...
7038       1              0        1           1      24             1
7039       0              0        1           1      72             1
7040       0              0        1           1      11             0
7041       1              1        1           0       4             1
7042       1              0        0           0      66             1

      MultipleLines  OnlineSecurity  OnlineBackup  DeviceProtection  ...  \
0                 0               0             1                 0  ...
1                 0               1             0                 1  ...
2                 0               1             1                 0  ...
3                 0               1             0                 1  ...
4                 0               0             0                 0  ...
...             ...             ...           ...               ...  ...
7038              1               1             0                 1  ...
7039              1               0             1                 1  ...
7040              0               1             0                 0  ...
7041              1               0             0                 0  ...
7042              0               1             0                 1  ...

      InternetService_0  InternetService_DSL  InternetService_Fiber optic  \
0                     0                    1                            0
1                     0                    1                            0
2                     0                    1                            0
3                     0                    1                            0
4                     0                    0                            1
...                 ...                  ...                          ...
7038                  0                    1                            0
7039                  0                    0                            1
7040                  0                    1                            0
7041                  0                    0                            1
7042                  0                    0                            1

      Contract_Month-to-month  Contract_One year  Contract_Two year  \
0                           1                  0                  0
1                           0                  1                  0
2                           1                  0                  0
3                           0                  1                  0
4                           1                  0                  0
...                       ...                ...                ...
7038                        0                  1                  0
7039                        0                  1                  0
7040                        1                  0                  0
7041                        1                  0                  0
7042                        0                  0                  1

      PaymentMethod_Bank transfer (automatic)  \
0                                           0
1                                           0
2                                           0
3                                           1
4                                           0
...                                       ...
7038                                        0
7039                                        0
7040                                        0
7041                                        0
7042                                        1

      PaymentMethod_Credit card (automatic)  PaymentMethod_Electronic check  \
0                                         0                               1
1                                         0                               0
2                                         0                               0
3                                         0                               0
4                                         0                               1
...                                     ...                             ...
7038                                      0                               0
7039                                      1                               0
7040                                      0                               1
7041                                      0                               0
7042                                      0                               0

      PaymentMethod_Mailed check
0                              0
1                              1
2                              1
3                              0
4                              0
...                          ...
7038                           1
7039                           0
7040                           0
7041                           1
7042                           0

[7032 rows x 27 columns]>

In [20]:
from sklearn.preprocessing import MinMaxScaler
cols_scale = ['tenure', 'MonthlyCharges', 'TotalCharges']
scaler = MinMaxScaler()

df[cols_scale] = scaler.fit_transform(df[cols_scale])

In [21]:
df

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,OnlineSecurity,OnlineBackup,DeviceProtection,...,InternetService_0,InternetService_DSL,InternetService_Fiber optic,Contract_Month-to-month,Contract_One year,Contract_Two year,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,0,0,1,0,0.000000,0,0,0,1,0,...,0,1,0,1,0,0,0,0,1,0
1,1,0,0,0,0.464789,1,0,1,0,1,...,0,1,0,0,1,0,0,0,0,1
2,1,0,0,0,0.014085,1,0,1,1,0,...,0,1,0,1,0,0,0,0,0,1
3,1,0,0,0,0.619718,0,0,1,0,1,...,0,1,0,0,1,0,1,0,0,0
4,0,0,0,0,0.014085,1,0,0,0,0,...,0,0,1,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,1,0,1,1,0.323944,1,1,1,0,1,...,0,1,0,0,1,0,0,0,0,1
7039,0,0,1,1,1.000000,1,1,0,1,1,...,0,0,1,0,1,0,0,1,0,0
7040,0,0,1,1,0.140845,0,0,1,0,0,...,0,1,0,1,0,0,0,0,1,0
7041,1,1,1,0,0.042254,1,1,0,0,0,...,0,0,1,1,0,0,0,0,0,1
7042,1,0,0,0,0.915493,1,0,1,0,1,...,0,0,1,0,0,1,1,0,0,0

In [22]:
from sklearn.model_selection import train_test_split
dataset = pd.read_csv('WA_Fn-UseC_-Telco-Customer-Churn.xls')
X = df.iloc[:, :-1].values
y = df.iloc[:, -1].values
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, shuffle=True, random_state=5)

In [23]:
X_train.shape

(5625, 26)

In [24]:
X_test.shape

(1407, 26)

In [25]:
class Churn(nn.Module):
    def __init__(self):
        super().__init__()
        self.fc1 = nn.Linear(in_features=26, out_features=52)
        self.fc2 = nn.Linear(in_features=52, out_features=1)
        # self.double()
        # print()

    def forward(self, x):
        # x = nn.Flatten(x)
        x = torch.sigmoid(self.fc1(x))
        x = torch.sigmoid(self.fc2(x))
        # x = torch.sigmoid(x)
        # print(x.dtype())
        return x

In [26]:
model = Churn()
random_x = torch.randn(26, dtype=torch.float32)
y = model.forward(random_x)
print(y.shape)

torch.Size([1])

In [27]:
optimizer = torch.optim.SGD(model.parameters(), lr=0.001)
# Defining our loss function
loss_fn = nn.BCEWithLogitsLoss()

In [28]:
X_train = torch.from_numpy(X_train)
X_test = torch.from_numpy(X_test)
y_train = torch.from_numpy(y_train)
y_test = torch.from_numpy(y_test)

X_train = X_train.type(torch.float)
X_test = X_test.type(torch.float)
y_train = y_train.type(torch.float)
y_test = y_test.type(torch.float)

In [29]:
X_train.dtype
# X_train.shape

torch.float32

In [30]:
y_train[0].reshape(-1, ).shape

torch.Size([1])

In [31]:
X_train.shape

torch.Size([5625, 26])

In [32]:
print(5625*26)

146250

In [33]:
print(X_train[0].shape)

torch.Size([26])

In [34]:
y_pred_list = []

In [35]:
EPOCHS = 100
counter = 0
for epoch in range(EPOCHS):
    epoch_loss = 0
    model.train()  # Set the model to train mode
    for i in range(26):
        optimizer.zero_grad()
        y_pred = model(X_train[i])
        # y_pred_list.append(y_pred.round())
        counter += 1
        loss = loss_fn(y_pred, y_train[i].reshape(-1, ))

        loss.backward()
        optimizer.step()

        epoch_loss += loss.item()
    epoch_loss /= 26  # Calculate the average loss for the epoch
    if (epoch) % 1 == 0:
        print(f"Epoch [{epoch}/{EPOCHS}], Loss: {epoch_loss}")


print(counter)

Epoch [0/100], Loss: 0.9092238579805081
Epoch [1/100], Loss: 0.9040968612982676
Epoch [2/100], Loss: 0.8990115168002936
Epoch [3/100], Loss: 0.8939771377123319
Epoch [4/100], Loss: 0.8890024503836265
Epoch [5/100], Loss: 0.8840956538915634
Epoch [6/100], Loss: 0.8792642481051959
Epoch [7/100], Loss: 0.8745150336852441
Epoch [8/100], Loss: 0.8698541074991226
Epoch [9/100], Loss: 0.8652868167712138
Epoch [10/100], Loss: 0.8608177395967337
Epoch [11/100], Loss: 0.8564506952579205
Epoch [12/100], Loss: 0.8521887774650867
Epoch [13/100], Loss: 0.8480344024988321
Epoch [14/100], Loss: 0.8439893355736365
Epoch [15/100], Loss: 0.8400547068852645
Epoch [16/100], Loss: 0.8362310459980598
Epoch [17/100], Loss: 0.8325184354415307
Epoch [18/100], Loss: 0.8289163754536555
Epoch [19/100], Loss: 0.8254240086445441
Epoch [20/100], Loss: 0.8220401062415197
Epoch [21/100], Loss: 0.8187631093538724
Epoch [22/100], Loss: 0.8155911839925326
Epoch [23/100], Loss: 0.8125222096076379
Epoch [24/100], Loss: 0.8095539143452277
Epoch [25/100], Loss: 0.8066839117270249
Epoch [26/100], Loss: 0.8039096066584954
Epoch [27/100], Loss: 0.8012283352705148
Epoch [28/100], Loss: 0.7986374061841232
Epoch [29/100], Loss: 0.7961340363209064
Epoch [30/100], Loss: 0.7937154517723963
Epoch [31/100], Loss: 0.7913788671676929
Epoch [32/100], Loss: 0.789121497135896
Epoch [33/100], Loss: 0.7869406182032365
Epoch [34/100], Loss: 0.7848335458682134
Epoch [35/100], Loss: 0.7827975612420303
Epoch [36/100], Loss: 0.7808301127873934
Epoch [37/100], Loss: 0.7789286122872279
Epoch [38/100], Loss: 0.7770906182435843
Epoch [39/100], Loss: 0.7753137281307807
Epoch [40/100], Loss: 0.7735955875653487
Epoch [41/100], Loss: 0.7719339774205134
Epoch [42/100], Loss: 0.7703266441822052
Epoch [43/100], Loss: 0.7687715681699606
Epoch [44/100], Loss: 0.7672666494662945
Epoch [45/100], Loss: 0.765809966967656
Epoch [46/100], Loss: 0.7643996385427622
Epoch [47/100], Loss: 0.7630338600048652
Epoch [48/100], Loss: 0.7617108936493213
Epoch [49/100], Loss: 0.7604290522061862
Epoch [50/100], Loss: 0.759186749274914
Epoch [51/100], Loss: 0.7579824649370633
Epoch [52/100], Loss: 0.7568147365863507
Epoch [53/100], Loss: 0.7556821382962741
Epoch [54/100], Loss: 0.7545833037449763
Epoch [55/100], Loss: 0.753516978942431
Epoch [56/100], Loss: 0.7524818915587205
Epoch [57/100], Loss: 0.7514768861807309
Epoch [58/100], Loss: 0.7505008028103755
Epoch [59/100], Loss: 0.7495525754415072
Epoch [60/100], Loss: 0.7486311609928424
Epoch [61/100], Loss: 0.7477355805727152
Epoch [62/100], Loss: 0.7468648507044866
Epoch [63/100], Loss: 0.746018070441026
Epoch [64/100], Loss: 0.7451943663450388
Epoch [65/100], Loss: 0.7443929108289572
Epoch [66/100], Loss: 0.7436129106925085
Epoch [67/100], Loss: 0.7428536002452557
Epoch [68/100], Loss: 0.7421142160892487
Epoch [69/100], Loss: 0.7413940658936133
Epoch [70/100], Loss: 0.7406925008847163
Epoch [71/100], Loss: 0.7400088631189786
Epoch [72/100], Loss: 0.7393425198701712
Epoch [73/100], Loss: 0.7386928957242233
Epoch [74/100], Loss: 0.7380594106820914
Epoch [75/100], Loss: 0.7374415305944589
Epoch [76/100], Loss: 0.7368387236044958
Epoch [77/100], Loss: 0.7362504968276391
Epoch [78/100], Loss: 0.7356763780117035
Epoch [79/100], Loss: 0.7351158651021811
Epoch [80/100], Loss: 0.7345685660839081
Epoch [81/100], Loss: 0.734034015582158
Epoch [82/100], Loss: 0.7335118124118218
Epoch [83/100], Loss: 0.7330015943600581
Epoch [84/100], Loss: 0.7325029396093808
Epoch [85/100], Loss: 0.7320155065793258
Epoch [86/100], Loss: 0.7315389605668875
Epoch [87/100], Loss: 0.7310729439441974
Epoch [88/100], Loss: 0.7306171380556546
Epoch [89/100], Loss: 0.7301712311231173
Epoch [90/100], Loss: 0.7297349205383887
Epoch [91/100], Loss: 0.7293079403730539
Epoch [92/100], Loss: 0.7288900063588069
Epoch [93/100], Loss: 0.7284808388123145
Epoch [94/100], Loss: 0.7280801809751071
Epoch [95/100], Loss: 0.7276878104760096
Epoch [96/100], Loss: 0.7273034613866073
Epoch [97/100], Loss: 0.726926904458266
Epoch [98/100], Loss: 0.726557928782243
Epoch [99/100], Loss: 0.7261963257422814
2600

In [36]:
for x_sample in X_test:
    y_pred_value = model(x_sample)
    y_pred_list.append(y_pred_value.round())

print(len(y_pred_list))

1407

In [37]:
for i, v in enumerate(y_pred_list):
    y_pred_list[i] = v.detach().numpy()

In [38]:
print(y_pred_list[0])

[0.]

In [39]:
y_test.shape

torch.Size([1407])

In [40]:
X_test.shape

torch.Size([1407, 26])

In [41]:
y_test = y_test.detach().numpy()

In [42]:
from sklearn.metrics import accuracy_score, confusion_matrix
print(confusion_matrix(y_test, y_pred_list))
print(accuracy_score(y_test, y_pred_list)*100)

[[1099    0]
 [ 308    0]]
78.1094527363184

In [43]:
count = 0
for i in y_pred_list:
    if (i != 0.0):
        print(i)
        count += 1

print(count)

0

This is a very basic model but it shows one key mistake that DL models make, which is not finding the right balance in training set, since a large population was 0, the model made everything up to be a 0.